// COLORS
$color-primary: #ff3f00;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
html {
  scroll-behavior: smooth;
}

h3 {
  text-align: center;
  font-size: 2.3rem;
  width: 100%;
  text-decoration: underline 0.11em rgba(255, 255, 255);
  transition: text-decoration-color 300ms;
}
h3:hover {
  text-decoration-color: rgba(255, 63, 0, 0.8);
}

h4 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.8rem;
    margin: 2rem 0;
  }
}
