* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#header {
  min-height: 100vh;
  /* height: 50vh; */
  width: 100%;
  background-image: url(https://i.postimg.cc/JzZqCsT3/main.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

#header-img {
  width: 250px;
}

.nav-link {
  flex: 1;
  text-align: right;
}
.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-link ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.change {
  color: #ff3f00;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 30px;
  color: #ff3f00;
  font-weight: 700;
}
